In [338]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, OrdinalEncoder
from category_encoders import TargetEncoder

In [339]:
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings("ignore")

In [340]:
url = "/Users/chimuanyaazike/Desktop/Churn/Churn/cleaned_data.csv"
data = pd.read_csv(url)
data.head()

,CustomerID,Name,Age,Gender,Location,Email,Phone,Address,Segment,NPS,ChurnLabel,Timestamp,TotalPurchaseFrequency,TotalPurchaseValue,ProductList,Plan,Start_Date,End_Date,TotalInteractionType,numEmails,numCalls,numChats,FirstInteractionDate,LastInteractionDate,AVGLatePayment,NumPaymentMethods,PageViews,TimeSpent(minutes),ActionCount,unique_pages,most_recent_action_date,Logins,Frequency,Rating,Comment,AVGOpenDays,AVGClickDays
0,1001,Mark Barrett,31,Male,Andrewfort,allison74@example.net,3192528777,"61234 Shelley Heights Suite 467\nCohentown, GU...",Segment B,3,1,2020-01-27 01:36:49,38,3994.72,Frozen Cocktail Mixes|Guacamole|Hockey Stick C...,Express,2020-06-08,2022-10-27,Call|Chat|Email,1,1,2,2019-09-26,2021-07-25,13.333333,3,49,15,24,13,2022-11-07 02:24:31,19,Weekly,1,I move baby go small big. Office institution s...,818.0,319.0
1,1002,Jeremy Welch,66,Female,Millerhaven,fmiller@example.com,231-587-1818x8651,"4959 Jennifer Junction\nNew Angelaport, TN 87397",Segment C,6,0,2019-01-06 18:30:03,4,2844.35,Baby Protective Wear|Footbags|Watercraft Polishes,Pro,2021-07-21,2022-05-07,Call|Chat|Email,10,5,4,2019-01-12,2022-12-13,3.333333,3,100,9,24,13,2022-12-05 00:27:08,9,Weekly,2,Wish what bag cut life. Statement might opport...,110.0,88.0
2,1003,Brandon Patel,36,Female,Lozanostad,jasonbrown@example.org,(270)633-9095,"38701 Amanda Brook Apt. 076\nKimshire, NJ 62516",Segment B,3,0,2019-04-30 04:25:10,14,1866.52,"Fudge|Pipe Caps & Plugs|Vehicle Waxes, Polishe...",Essential,2019-10-05,2020-08-19,Call|Chat|Email,1,1,1,2019-10-09,2022-01-04,2.666667,3,1,97,12,7,2022-11-02 15:59:43,19,Monthly,4,Some Democrat guess but short. Whether behind ...,333.0,117.0
3,1004,Tina Martin,62,Female,South Dustin,matthew62@example.net,050.081.8706x11982,"67324 Ashley Coves\nSouth John, RI 29650",Segment C,1,1,2020-03-03 17:33:28,28,1378.64,CrÃªpe & Blini Pans|Electrical Switches|Mouthwa...,Smart,2020-01-14,2022-03-27,Call|Chat|Email,18,17,24,2019-01-03,2022-11-10,26.333333,3,25,31,47,14,2022-12-08 18:10:18,4,Daily,1,Yard feel never miss ask billion Congress. Fly...,159.0,423.0
4,1005,Christopher Rodriguez,68,Female,West James,shannonstrickland@example.org,+1-701-854-4915x724,"01169 Miller Mission\nWest Anthonyburgh, WY 47359",Segment C,3,0,2019-04-05 22:42:22,39,2425.05,Audiobooks|Fire Extinguisher & Equipment Stora...,Basic,2021-04-08,2022-11-09,Call|Chat|Email,5,4,1,2019-04-10,2022-12-19,0.666667,3,77,51,30,12,2022-12-30 23:37:00,12,Weekly,3,Ten determine unit interview challenge stock. ...,193.0,96.0

In [341]:
data.shape

(12483, 37)

In [342]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12483 entries, 0 to 12482
Data columns (total 37 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   CustomerID               12483 non-null  int64
 1   Name                     12483 non-null  object
 2   Age                      12483 non-null  int64
 3   Gender                   12483 non-null  object
 4   Location                 12483 non-null  object
 5   Email                    12483 non-null  object
 6   Phone                    12483 non-null  object
 7   Address                  12483 non-null  object
 8   Segment                  12483 non-null  object
 9   NPS                      12483 non-null  int64
 10  ChurnLabel               12483 non-null  int64
 11  Timestamp                12483 non-null  object
 12  TotalPurchaseFrequency   12483 non-null  int64
 13  TotalPurchaseValue       12483 non-null  float64
 14  ProductList              12483 non-null  object
 15  Plan                     12483 non-null  object
 16  Start_Date               12483 non-null  object
 17  End_Date                 12483 non-null  object
 18  TotalInteractionType     12483 non-null  object
 19  numEmails                12483 non-null  int64
 20  numCalls                 12483 non-null  int64
 21  numChats                 12483 non-null  int64
 22  FirstInteractionDate     12483 non-null  object
 23  LastInteractionDate      12483 non-null  object
 24  AVGLatePayment           12483 non-null  float64
 25  NumPaymentMethods        12483 non-null  int64
 26  PageViews                12483 non-null  int64
 27  TimeSpent(minutes)       12483 non-null  int64
 28  ActionCount              12483 non-null  int64
 29  unique_pages             12483 non-null  int64
 30  most_recent_action_date  12483 non-null  object
 31  Logins                   12483 non-null  int64
 32  Frequency                12483 non-null  object
 33  Rating                   12483 non-null  int64
 34  Comment                  12483 non-null  object
 35  AVGOpenDays              12483 non-null  float64
 36  AVGClickDays             12483 non-null  float64
dtypes: float64(4), int64(15), object(18)
memory usage: 3.5+ MB

In [343]:
data.duplicated().sum()

np.int64(0)

In [344]:
data.isnull().sum()

CustomerID                 0
Name                       0
Age                        0
Gender                     0
Location                   0
Email                      0
Phone                      0
Address                    0
Segment                    0
NPS                        0
ChurnLabel                 0
Timestamp                  0
TotalPurchaseFrequency     0
TotalPurchaseValue         0
ProductList                0
Plan                       0
Start_Date                 0
End_Date                   0
TotalInteractionType       0
numEmails                  0
numCalls                   0
numChats                   0
FirstInteractionDate       0
LastInteractionDate        0
AVGLatePayment             0
NumPaymentMethods          0
PageViews                  0
TimeSpent(minutes)         0
ActionCount                0
unique_pages               0
most_recent_action_date    0
Logins                     0
Frequency                  0
Rating                     0
Comment                    0
AVGOpenDays                0
AVGClickDays               0
dtype: int64

In [345]:
data.dtypes

CustomerID                   int64
Name                        object
Age                          int64
Gender                      object
Location                    object
Email                       object
Phone                       object
Address                     object
Segment                     object
NPS                          int64
ChurnLabel                   int64
Timestamp                   object
TotalPurchaseFrequency       int64
TotalPurchaseValue         float64
ProductList                 object
Plan                        object
Start_Date                  object
End_Date                    object
TotalInteractionType        object
numEmails                    int64
numCalls                     int64
numChats                     int64
FirstInteractionDate        object
LastInteractionDate         object
AVGLatePayment             float64
NumPaymentMethods            int64
PageViews                    int64
TimeSpent(minutes)           int64
ActionCount                  int64
unique_pages                 int64
most_recent_action_date     object
Logins                       int64
Frequency                   object
Rating                       int64
Comment                     object
AVGOpenDays                float64
AVGClickDays               float64
dtype: object

In [346]:
data.columns

Index(['CustomerID', 'Name', 'Age', 'Gender', 'Location', 'Email', 'Phone',
       'Address', 'Segment', 'NPS', 'ChurnLabel', 'Timestamp',
       'TotalPurchaseFrequency', 'TotalPurchaseValue', 'ProductList', 'Plan',
       'Start_Date', 'End_Date', 'TotalInteractionType', 'numEmails',
       'numCalls', 'numChats', 'FirstInteractionDate', 'LastInteractionDate',
       'AVGLatePayment', 'NumPaymentMethods', 'PageViews',
       'TimeSpent(minutes)', 'ActionCount', 'unique_pages',
       'most_recent_action_date', 'Logins', 'Frequency', 'Rating', 'Comment',
       'AVGOpenDays', 'AVGClickDays'],
      dtype='object')

### Updating the date columns from object to datetime64, using for loop

In [347]:

col_to_date = ['Start_Date', 'End_Date', 'FirstInteractionDate', 'Timestamp', 'LastInteractionDate', 'most_recent_action_date'] #list of columns to convert to datetime, col stands for column

for col in col_to_date:
    data[col] = pd.to_datetime(data[col], errors='coerce')

### Observation: It was observed that most_recent_action_date and Timestamp contains both dates and time, since time will have no much depth in this analysis, but columns will be spilted
### Process: Date and time spilted, and original columns dropped to have only date

In [348]:
data['churntime']=data['Timestamp'].dt.time
data['churndate']=data['Timestamp'].dt.date

In [349]:
data['churndate'] = pd.to_datetime(data['churndate'], errors='coerce')

In [350]:
# Convert the column to datetime first
data['most_recent_action_date'] = pd.to_datetime(data['most_recent_action_date'])

# Then extract time and date
data['most_recent_action_time'] = data['most_recent_action_date'].dt.time
data['most_recent_action_date_only'] = data['most_recent_action_date'].dt.date

In [351]:
data['most_recent_action_date_only'] = pd.to_datetime(data['most_recent_action_date_only'], errors='coerce')

### RFM Analysis

In [352]:
currentDate = data['LastInteractionDate'].max()

data['recency'] = (currentDate - data['LastInteractionDate'])
data['frequecy'] = data['TotalPurchaseFrequency'] * data['Logins']
data['monetary_value'] = data['TotalPurchaseValue']


f_label = range(1, 6)
m_label = range(1, 6)
r_label = range(5, 0, -1)

data['recency'] = pd.qcut(data['recency'], 5, labels=r_label)
data['frequecy'] = pd.qcut(data['frequecy'], 5, labels=f_label)
data['monetary_value'] = pd.qcut(data['monetary_value'], 5, labels=m_label)

data[['recency', 'frequecy', 'monetary_value']] = data[['recency', 'frequecy', 'monetary_value']].astype('int64')

data['rfm_score'] = data['recency'] + data['frequecy'] + data['monetary_value']

bins = [3, 6, 9, 12, 15]
labels = ['at_risk', 'need_attention', 'loyal_customers', 'champions']
data['customer_segment'] = pd.cut(data['rfm_score'], bins=bins, labels=labels, include_lowest=True)
data.drop(columns=['recency', 'frequecy', 'monetary_value', 'rfm_score'], inplace=True)

In [353]:
data.drop(columns=['Timestamp', 'most_recent_action_date', 'churntime', 'most_recent_action_time' ], inplace=True)

In [354]:
data.to_csv('cleaned_data.csv', index=False)

## Preprocessing for our Model

In [355]:
data.select_dtypes(include= 'datetime64')

,Start_Date,End_Date,FirstInteractionDate,LastInteractionDate,churndate,most_recent_action_date_only
0,2020-06-08,2022-10-27,2019-09-26,2021-07-25,2020-01-27,2022-11-07
1,2021-07-21,2022-05-07,2019-01-12,2022-12-13,2019-01-06,2022-12-05
2,2019-10-05,2020-08-19,2019-10-09,2022-01-04,2019-04-30,2022-11-02
3,2020-01-14,2022-03-27,2019-01-03,2022-11-10,2020-03-03,2022-12-08
4,2021-04-08,2022-11-09,2019-04-10,2022-12-19,2019-04-05,2022-12-30
...,...,...,...,...,...,...
12478,2019-06-15,2021-06-29,2019-05-07,2022-10-09,2022-01-27,2022-10-02
12479,2022-12-10,2022-12-28,2019-12-11,2022-11-05,2020-06-14,2022-11-10
12480,2021-07-04,2021-07-24,2019-01-12,2022-12-08,2020-10-13,2022-11-20
12481,2020-07-21,2021-11-17,2019-04-05,2022-11-15,2020-06-24,2022-09-08
12482,2021-08-20,2022-05-13,2019-02-17,2022-06-10,2022-07-14,2022-11-22

In [356]:
data_col_to_engineer = data.select_dtypes(include= 'datetime64').columns.tolist()

for col in data_col_to_engineer:
    data[col + '_year'] = data[col].dt.year
    data[col + '_month'] = data[col].dt.month
    data[col + '_day'] = data[col].dt.day

    data.drop(columns=[col], inplace=True)

## Encode catergory variables

In [357]:
data.select_dtypes(include= 'object')

,Name,Gender,Location,Email,Phone,Address,Segment,ProductList,Plan,TotalInteractionType,Frequency,Comment
0,Mark Barrett,Male,Andrewfort,allison74@example.net,3192528777,"61234 Shelley Heights Suite 467\nCohentown, GU...",Segment B,Frozen Cocktail Mixes|Guacamole|Hockey Stick C...,Express,Call|Chat|Email,Weekly,I move baby go small big. Office institution s...
1,Jeremy Welch,Female,Millerhaven,fmiller@example.com,231-587-1818x8651,"4959 Jennifer Junction\nNew Angelaport, TN 87397",Segment C,Baby Protective Wear|Footbags|Watercraft Polishes,Pro,Call|Chat|Email,Weekly,Wish what bag cut life. Statement might opport...
2,Brandon Patel,Female,Lozanostad,jasonbrown@example.org,(270)633-9095,"38701 Amanda Brook Apt. 076\nKimshire, NJ 62516",Segment B,"Fudge|Pipe Caps & Plugs|Vehicle Waxes, Polishe...",Essential,Call|Chat|Email,Monthly,Some Democrat guess but short. Whether behind ...
3,Tina Martin,Female,South Dustin,matthew62@example.net,050.081.8706x11982,"67324 Ashley Coves\nSouth John, RI 29650",Segment C,CrÃªpe & Blini Pans|Electrical Switches|Mouthwa...,Smart,Call|Chat|Email,Daily,Yard feel never miss ask billion Congress. Fly...
4,Christopher Rodriguez,Female,West James,shannonstrickland@example.org,+1-701-854-4915x724,"01169 Miller Mission\nWest Anthonyburgh, WY 47359",Segment C,Audiobooks|Fire Extinguisher & Equipment Stora...,Basic,Call|Chat|Email,Weekly,Ten determine unit interview challenge stock. ...
...,...,...,...,...,...,...,...,...,...,...,...,...
12478,Catherine Lee,Female,New Lauren,kgarcia@example.com,(977)150-1569x426,"836 Gonzalez Drive Apt. 334\nLake Kelly, RI 01667",Segment A,Concrete & Masonry Cleaners|Ice Cream Noveltie...,Essential,Call|Chat|Email,Daily,Light appear fight lawyer where star.
12479,Kimberly Johnson,Male,Randymouth,carrjennifer@example.org,485.014.7824x5235,3715 Wiggins Harbors Suite 139\nEast Gregorybo...,Segment A,Straight Pins,Flex,Call|Chat,Weekly,Yet very girl history. Thing late dream you re...
12480,Lisa Rodgers,Male,East Erin,william37@example.com,951-489-9554,"56050 Steven Summit Suite 383\nJohnmouth, NM 2...",Segment C,Cabbage|Fabric Refreshers|Furisode Kimonos|Gol...,Deluxe,Call|Chat|Email,Monthly,Offer particularly single degree seem sound. S...
12481,Kristin Carey,Female,New Leah,josephcarter@example.net,001-335-464-3236x722,"72356 Teresa Rapid\nPorterborough, SC 40076",Segment A,Clear Kerosene|Dice Sets & Games|Pot Racks|Seq...,Gold,Call|Chat|Email,Monthly,Rest something concern likely movie. Foot in i...
12482,Melissa Carter,Male,West Amanda,regina88@example.net,816-238-9247,USCGC Lopez\nFPO AE 85542,Segment C,Pool Brushes & Brooms,Prime,Call|Chat|Email,Weekly,Indeed foot trouble heavy agreement cut. West ...

In [358]:
data.drop(columns=['Name','Email','Phone'], inplace=True, errors='ignore')

In [359]:
data.select_dtypes(include= 'object')

,Gender,Location,Address,Segment,ProductList,Plan,TotalInteractionType,Frequency,Comment
0,Male,Andrewfort,"61234 Shelley Heights Suite 467\nCohentown, GU...",Segment B,Frozen Cocktail Mixes|Guacamole|Hockey Stick C...,Express,Call|Chat|Email,Weekly,I move baby go small big. Office institution s...
1,Female,Millerhaven,"4959 Jennifer Junction\nNew Angelaport, TN 87397",Segment C,Baby Protective Wear|Footbags|Watercraft Polishes,Pro,Call|Chat|Email,Weekly,Wish what bag cut life. Statement might opport...
2,Female,Lozanostad,"38701 Amanda Brook Apt. 076\nKimshire, NJ 62516",Segment B,"Fudge|Pipe Caps & Plugs|Vehicle Waxes, Polishe...",Essential,Call|Chat|Email,Monthly,Some Democrat guess but short. Whether behind ...
3,Female,South Dustin,"67324 Ashley Coves\nSouth John, RI 29650",Segment C,CrÃªpe & Blini Pans|Electrical Switches|Mouthwa...,Smart,Call|Chat|Email,Daily,Yard feel never miss ask billion Congress. Fly...
4,Female,West James,"01169 Miller Mission\nWest Anthonyburgh, WY 47359",Segment C,Audiobooks|Fire Extinguisher & Equipment Stora...,Basic,Call|Chat|Email,Weekly,Ten determine unit interview challenge stock. ...
...,...,...,...,...,...,...,...,...,...
12478,Female,New Lauren,"836 Gonzalez Drive Apt. 334\nLake Kelly, RI 01667",Segment A,Concrete & Masonry Cleaners|Ice Cream Noveltie...,Essential,Call|Chat|Email,Daily,Light appear fight lawyer where star.
12479,Male,Randymouth,3715 Wiggins Harbors Suite 139\nEast Gregorybo...,Segment A,Straight Pins,Flex,Call|Chat,Weekly,Yet very girl history. Thing late dream you re...
12480,Male,East Erin,"56050 Steven Summit Suite 383\nJohnmouth, NM 2...",Segment C,Cabbage|Fabric Refreshers|Furisode Kimonos|Gol...,Deluxe,Call|Chat|Email,Monthly,Offer particularly single degree seem sound. S...
12481,Female,New Leah,"72356 Teresa Rapid\nPorterborough, SC 40076",Segment A,Clear Kerosene|Dice Sets & Games|Pot Racks|Seq...,Gold,Call|Chat|Email,Monthly,Rest something concern likely movie. Foot in i...
12482,Male,West Amanda,USCGC Lopez\nFPO AE 85542,Segment C,Pool Brushes & Brooms,Prime,Call|Chat|Email,Weekly,Indeed foot trouble heavy agreement cut. West ...

### Types of encoding techniques
The choice of encoding method depends on the type of categorical data:

- For Nominal Variables (categories without a natural order):
  Method: One-Hot Encoding
  How it works: Transforms each category value into a new binary feature (0 or 1).Examples: Gender (Male/Female), Segment (A/B/C), Plan (Basic/Premium).

- For Ordinal Variables (categories with a meaningful order):
  Method: Label Encoding
  How it works: Assigns an integer to each category, preserving the intended order.Examples: Education Level (High School < Bachelor's < Master's), Satisfaction (Poor < Fair < Good).

- For High Cardinality Variables (a very large number of categories):
  Method: Target Encoding
  How it works: Replaces a category with the average value of the target variable for that category (mean encoding) or its frequency (frequency encoding). This avoids creating an excessive number of columns.

In [360]:
# --- Define column groups ---
norminal_columns = ['Gender', 'TotalInteractionType', 'Frequency']
ordinal_columns = ['Segment', 'Plan', 'customer_segment']
cardinal_columns = ['Location', 'ProductList']

# Copy data once
encode_data = data.copy()

# --- 1. Nominal Encoding (One-Hot) ---
ohe = OneHotEncoder(sparse_output=False)
encoded_columns = []

for col in norminal_columns:
    transformed_col = ohe.fit_transform(encode_data[[col]])
    transformed_df = pd.DataFrame(
        transformed_col, 
        columns=[f"{col}_{cat}" for cat in ohe.categories_[0]],
        index=encode_data.index
    )
    encoded_columns.append(transformed_df)

encode_data = pd.concat([encode_data] + encoded_columns, axis=1)
encode_data.drop(columns=norminal_columns, inplace=True)

# --- 2. Cardinal Encoding (Mean target encoding with TotalPurchaseValue) ---
for col in cardinal_columns:
    encode_data[col] = encode_data.groupby(col)['TotalPurchaseValue'].transform('mean')

# --- 3. Ordinal Encoding (numeric mapping) ---
encoder = OrdinalEncoder()
encoded_ordinals = encoder.fit_transform(encode_data[ordinal_columns])
encode_data[ordinal_columns] = encoded_ordinals

# â Final encoded dataset
encode_data.head()

,CustomerID,Age,Location,Address,Segment,NPS,ChurnLabel,TotalPurchaseFrequency,TotalPurchaseValue,ProductList,Plan,numEmails,numCalls,numChats,AVGLatePayment,NumPaymentMethods,PageViews,TimeSpent(minutes),ActionCount,unique_pages,Logins,Rating,Comment,AVGOpenDays,AVGClickDays,customer_segment,Start_Date_year,Start_Date_month,Start_Date_day,End_Date_year,End_Date_month,End_Date_day,FirstInteractionDate_year,FirstInteractionDate_month,FirstInteractionDate_day,LastInteractionDate_year,LastInteractionDate_month,LastInteractionDate_day,churndate_year,churndate_month,churndate_day,most_recent_action_date_only_year,most_recent_action_date_only_month,most_recent_action_date_only_day,Gender_Female,Gender_Male,TotalInteractionType_Call,TotalInteractionType_Call|Chat,TotalInteractionType_Call|Chat|Email,TotalInteractionType_Call|Email,TotalInteractionType_Chat,TotalInteractionType_Chat|Email,TotalInteractionType_Email,Frequency_Daily,Frequency_Monthly,Frequency_Weekly
0,1001,31,3155.59500,"61234 Shelley Heights Suite 467\nCohentown, GU...",1.0,3,1,38,3994.72,3994.72,6.0,1,1,2,13.333333,3,49,15,24,13,19,1,I move baby go small big. Office institution s...,818.0,319.0,3.0,2020,6,8,2022,10,27,2019,9,26,2021,7,25,2020,1,27,2022,11,7,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1002,66,1477.07750,"4959 Jennifer Junction\nNew Angelaport, TN 87397",2.0,6,0,4,2844.35,2844.35,12.0,10,5,4,3.333333,3,100,9,24,13,9,2,Wish what bag cut life. Statement might opport...,110.0,88.0,3.0,2021,7,21,2022,5,7,2019,1,12,2022,12,13,2019,1,6,2022,12,5,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,1003,36,1866.52000,"38701 Amanda Brook Apt. 076\nKimshire, NJ 62516",1.0,3,0,14,1866.52,1866.52,5.0,1,1,1,2.666667,3,1,97,12,7,19,4,Some Democrat guess but short. Whether behind ...,333.0,117.0,0.0,2019,10,5,2020,8,19,2019,10,9,2022,1,4,2019,4,30,2022,11,2,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1004,62,2473.60000,"67324 Ashley Coves\nSouth John, RI 29650",2.0,1,1,28,1378.64,1378.64,15.0,18,17,24,26.333333,3,25,31,47,14,4,1,Yard feel never miss ask billion Congress. Fly...,159.0,423.0,3.0,2020,1,14,2022,3,27,2019,1,3,2022,11,10,2020,3,3,2022,12,8,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,1005,68,3795.52375,"01169 Miller Mission\nWest Anthonyburgh, WY 47359",2.0,3,0,39,2425.05,2425.05,0.0,5,4,1,0.666667,3,77,51,30,12,12,3,Ten determine unit interview challenge stock. ...,193.0,96.0,2.0,2021,4,8,2022,11,9,2019,4,10,2022,12,19,2019,4,5,2022,12,30,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [361]:
encode_data.drop(['Address','Comment'], axis=1, inplace=True, errors='ignore') # this will drop the two columns that are not needed

In [363]:
encode_data.to_csv('encoded_data.csv', index=False)

In [362]:
encode_data

,CustomerID,Age,Location,Segment,NPS,ChurnLabel,TotalPurchaseFrequency,TotalPurchaseValue,ProductList,Plan,numEmails,numCalls,numChats,AVGLatePayment,NumPaymentMethods,PageViews,TimeSpent(minutes),ActionCount,unique_pages,Logins,Rating,AVGOpenDays,AVGClickDays,customer_segment,Start_Date_year,Start_Date_month,Start_Date_day,End_Date_year,End_Date_month,End_Date_day,FirstInteractionDate_year,FirstInteractionDate_month,FirstInteractionDate_day,LastInteractionDate_year,LastInteractionDate_month,LastInteractionDate_day,churndate_year,churndate_month,churndate_day,most_recent_action_date_only_year,most_recent_action_date_only_month,most_recent_action_date_only_day,Gender_Female,Gender_Male,TotalInteractionType_Call,TotalInteractionType_Call|Chat,TotalInteractionType_Call|Chat|Email,TotalInteractionType_Call|Email,TotalInteractionType_Chat,TotalInteractionType_Chat|Email,TotalInteractionType_Email,Frequency_Daily,Frequency_Monthly,Frequency_Weekly
0,1001,31,3155.595000,1.0,3,1,38,3994.72,3994.720000,6.0,1,1,2,13.333333,3,49,15,24,13,19,1,818.0,319.0,3.0,2020,6,8,2022,10,27,2019,9,26,2021,7,25,2020,1,27,2022,11,7,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1002,66,1477.077500,2.0,6,0,4,2844.35,2844.350000,12.0,10,5,4,3.333333,3,100,9,24,13,9,2,110.0,88.0,3.0,2021,7,21,2022,5,7,2019,1,12,2022,12,13,2019,1,6,2022,12,5,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,1003,36,1866.520000,1.0,3,0,14,1866.52,1866.520000,5.0,1,1,1,2.666667,3,1,97,12,7,19,4,333.0,117.0,0.0,2019,10,5,2020,8,19,2019,10,9,2022,1,4,2019,4,30,2022,11,2,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1004,62,2473.600000,2.0,1,1,28,1378.64,1378.640000,15.0,18,17,24,26.333333,3,25,31,47,14,4,1,159.0,423.0,3.0,2020,1,14,2022,3,27,2019,1,3,2022,11,10,2020,3,3,2022,12,8,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,1005,68,3795.523750,2.0,3,0,39,2425.05,2425.050000,0.0,5,4,1,0.666667,3,77,51,30,12,12,3,193.0,96.0,2.0,2021,4,8,2022,11,9,2019,4,10,2022,12,19,2019,4,5,2022,12,30,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12478,13479,55,1196.560000,0.0,8,0,14,1196.56,1196.560000,5.0,3,3,4,1.000000,3,70,57,6,6,22,2,126.0,443.0,3.0,2019,6,15,2021,6,29,2019,5,7,2022,10,9,2022,1,27,2022,10,2,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
12479,13480,29,710.570000,0.0,7,0,1,710.57,523.136667,8.0,0,1,2,2.000000,3,71,66,9,8,25,3,167.0,40.0,0.0,2022,12,10,2022,12,28,2019,12,11,2022,11,5,2020,6,14,2022,11,10,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
12480,13481,38,5154.420000,2.0,1,1,63,5154.42,5154.420000,2.0,11,9,6,27.666667,3,96,1,26,9,9,5,383.0,459.0,1.0,2021,7,4,2021,7,24,2019,1,12,2022,12,8,2020,10,13,2022,11,20,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
12481,13482,26,3856.435000,0.0,0,0,58,6055.16,6055.160000,9.0,4,3,6,22.333333,3,63,2,38,12,2,5,435.0,15.0,2.0,2020,7,21,2021,11,17,2019,4,5,2022,11,15,2020,6,24,2022,9,8,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
12482,13483,29,1535.823333,2.0,2,1,1,154.20,555.516667,11.0,1,4,2,16.333333,3,93,6,32,13,6,3,222.0,205.0,0.0,2021,8,20,2022,5,13,2019,2,17,2022,6,10,2022,7,14,2022,11,22,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0